@page "/"
@inject IJSRuntime JS

<PageTitle>Todo List</PageTitle>

<ul class="todo-list">
    @foreach (var todo in Enumerable.Reverse<TodoItem>(todos))
    {
        <li class="todo-item " @key="todo.Id" data-id="todo.Id">
            <label class="@(todo.IsDone ? "completed": "")">@todo.Title</label>
            <div class="buttons">
                <button type="button" class="btn" @onclick="() => todo.IsDone= !todo.IsDone">
                    <i class="fa-regular @(todo.IsDone ? "fa-square-check completed": "fa-square") "></i>
                </button>
                <button type="button" class="btn" @onclick="() => DeleteTodo(todo.Id)">
                    <i class="fa-solid fa-trash-can delete"></i>
                </button>
            </div>
        </li>
    }
</ul>
<div id="add-todo" class="add-todo">
    <input @ref="newTodoInput" class="add-todo" placeholder="New Todo"
           @oninput="@((e) => { newTodo = e.Value?.ToString(); })"
           @bind="newTodo" @onkeydown="@HandleEnter" />
    <button @onclick="AddTodo">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>
